* { font-family: Arial, Helvetica, sans-serif }

body { }

table.positions {
    border-collapse: collapse;
    page-break-inside: auto;
    width: 100%;
}

table .positions tr {
    page-break-after: auto;
    page-break-inside: avoid;
}

table.positions > thead {
    background-color: black;
    color: white;
    display: table-header-group;
    text-align: left;
}

table.positions th {
    height: 1cm;
    vertical-align: middle;
}

table.positions > tbody > tr:first-child > td {
    padding-top: .5cm;
}

table.positions > tbody > td {
    vertical-align: top;
}

table.positions > tfoot { display: table-footer-group }

table.positions > tfoot > tr:first-child > td {
    border-top: 1px solid black;
    padding-top: 1cm;
}

table.positions > tfoot > tr:last-child > td {
    border-bottom: 1px solid black;
    border-bottom-style: double;
    padding-bottom: .5cm;
}

.right { text-align: right; }

.header { min-height: 10cm; }

.header:after { clear: both; }

.header-text { float: left }

.logo {
    background: url('logo.jpg') 50% 50% no-repeat;
    background-size: contain;
    float: right;
    height: 6cm;
    width: 6cm;
}